header{
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);

}
.header{
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.header-top{
    background-color: var(--color-one);
    color:var(--color-two);
    font-size: 18px;
    padding: 8px;
    text-align: center;
   
}
.header-main {
    background-color: #F0F2F5;

}
.header-main .inner-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px 15px 0px;
    background-color: #F0F2F5;
}
.header-main .inner-logo img{
    height: 50px;
    width: auto;
    margin-right: 10px;
}
.header-main .inner-logo a{
    color:var(--color-one);
    font-size: 20px ;
    font-weight: 600;
    display: flex;
    align-items: center;

}
.header-main .inner-menu ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    
   

}
.header-main .inner-menu ul li a{
    font-size: 18px;
    color: var(--color-one);
}
.header-main .inner-menu ul li {
    margin-right: 15px;
    margin-left: 15px;
}
.header-main .inner-contact{
    font-size: 18px;
    color: var(--color-text);
}
.header-main .inner-social ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.header-main .inner-social ul li a{
    font-size:25px ;
    color: var(--color-one);
}
.header-main .inner-social ul li{
    margin-left: 15px;

}
.bars{
    display: none;
    font-size: 30px;
}
@media (max-width: 768px) {
    .header-top{
        font-size: 15px;
    }
    
}
@media (max-width :992px){
    .header-main .inner-contact{
        display: none;
}

}
@media (max-width :768px){
    .header-main .inner-menu{
        display: none;
}
.header-main .inner-social{
    display: none;
}
.bars{
    display: block;
}
}









.section-one{
    background-color: #F0F2F5;
    padding:100px 0px 100px 0px;
}
.section-one .inner-wrap{
    display: flex;
}
.section-one .inner-content{
    width: 50%;
}
.section-one .inner-img{
    width: 50%;
    position: relative;
}
.section-one .inner-img .inner-sale{
    position: absolute;
    top: 0px;
    right: 150px;
    background-color: var(--color-two);
    padding: 25px;
    border-radius: 50%;
    font-size: 40px;
    color: var(--color-one);
    display: flex;
    width: 120px;
    height: 120px;
    justify-content:center ;
    align-items: center;
    flex-direction: column;
}
.section-one .inner-img .inner-sale span:nth-child(1){
font-size: 25px;
font-weight: bold;
}
.section-one .inner-img .inner-sale span:nth-child(2){
    font-size: 40px;
    font-weight: 600;
    }
.section-one .inner-img img{
    width: 100%;
 
}
.section-one .inner-title{
    color: var(--color-one);
    font-size: 70px;
   
}
.section-one .inner-content .inner-desc{
    color: var(--color-one);
    font-size: 25px;
    margin-bottom: 40px;
}
.section-one .inner-content .inner-list{
    display: flex;
    margin-bottom: 40px;
    
}
.section-one .inner-content .inner-list .inner-item{
  width: 50%;
  font-size: 18px;
  color: var(--color-text);
 
  display: flex;
  align-items: center;
}
.section-one .inner-content .inner-list .inner-item i{
    font-size: 24px;
    margin-right: 15px;
}
.section-one .inner-content{
    position: relative;
   
}
@media (max-width:992px){
    .section-one .inner-content{
        width: 100%;
        order: 1;
        
}
.section-one .inner-img{
    width: 100%;
}
.section-one .inner-wrap{
    display: flex;
    flex-wrap: wrap;
}
}
@media (max-width:768px){
    .section-one .inner-content{
        text-align:  center;
    }
    .section-one .inner-item{
      justify-content:  center;
    }
}

.button{
    background: var(--color-one);
    border-radius: 45px;
    font-size: 18px;
    padding: 12px 32px;
    color: white;
    border: 2px solid var(--color-one);
    display: inline-block;
   bottom: 30px;
   
}
.button:hover{
    background-color: white;
    color: var(--color-one);
    
}
.button-two{
    background-color: var(--color-two);
    color: white;
    border: var(--color-two);
    border: 2px solid var(--color-two);
    font-size: 22px;
    bottom: 20px;

}
.button-two:hover{
    color: var(--color-two);
    background-color: white;
    border: var(--color-two);
    border: 2px solid var(--color-two);
}


.section-two{
    padding: 80px 0px;;
}
/* .section-two img{
    width: 200px;
    
} */
.section-two .inner-wrap{
    display: flex;
    justify-content: space-between;
}
.section-two .inner-wrap .inner-box{
    width: calc(100%/3 - 20px);
    height: 100%;
    aspect-ratio: 4/3; /*tỉ lệ w/h của element*/
    position: relative;
    overflow: hidden;
}
.section-two .inner-wrap .inner-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* object-fit: cover; cho ảnh ko bị co giãn */
    transition: all 0.6s;
}
.section-two .inner-wrap .inner-box .inner-content{
    position:absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    padding: 30px;
    padding: 30px;
    
}
.section-two .inner-wrap .inner-box .inner-tag{
    background-color: #13A05D;
    padding: 6px 12px;
    border-radius: 15px;
    font-size: 18px;
    color: white;
    display: inline-block;
    text-align: center;
    margin-bottom: 10px;
}
.section-two .inner-wrap .inner-box .inner-title {
    color: white;
    font-size: 30px;
    margin-top: 0px ;
    margin-bottom: 50px;

}
.section-two .inner-wrap .inner-box:hover img{
    transform: scale(1.1);
}
.section-two .inner-wrap .inner-box .inner-sale {
    color: var(--color-two);
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px ;

}
.section-two .inner-wrap .inner-box .box1{
color: var(--color-one);
margin-bottom: 20px ;
}
.section-two .inner-wrap .inner-box .box2{
    color: var(--color-one);
    margin-bottom: 20px;
    }
    .section-two .inner-wrap .inner-box .inner-price-new{
        color: var(--color-two);
        font-size: 50px;
        font-weight: 600;
    }
    .section-two .inner-wrap .inner-box .inner-price-old{
        color: #BBBBBB;
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 27px;
       
    }
   
   @media (max-width: 992px){
    .section-two .inner-wrap .inner-box{
        width: 100%;
        margin-bottom: 25px;
        aspect-ratio: 9/4;
    }
    .section-two .inner-wrap{
        flex-wrap: wrap;
    }
   }
   @media (max-width: 576px){
    .section-two .inner-wrap .inner-box{
       
       
        aspect-ratio: 1/1;
    }
}
.section-three .inner-title{
    padding: 60px 60px 20px 60px;
    text-align: center;
    display:  block;
    /* margin-top: 30px; */
}
/* .section-three .inner-wrap{
    justify-content: center;
    align-items: center;
} */
.section-three{
    margin-top: 60px;
    background-color: #F0F2F5;
}
.section-three .inner-title strong {
 font-size: 50px;
 color: var(--color-one);
 
}
.section-three .inner-title h3{
    font-size: 20px;
    font-weight: 400;
}
.section-three  div{
    font-size: 20px;
    text-align: center;
    
}
.section-three .inner-wrap{
  
    padding: 30px;
    
}
.section-three i{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 50px;
}
.section-three h4{
    font-size: 20px;
    font-weight: 400;
    
}
.section-three .inner-wrap strong{
    color:var(--color-one);
}





.section-four{
    padding: 6px;
}
.section-four .inner-wrap  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
   
    
   
}
.section-four .inner-wrap  .inner-img{
    padding-left: 15px;
    
    width: 50%;
}
.section-four .inner-wrap .inner-content h2{
    font-size: 58px;
    color: var(--color-one);
 
}
.section-four .inner-wrap .inner-content p{
    font-size: 25px;
    color: var(--color-one);
    font-weight: 400;
    margin-bottom: 60px;
}
.section-four .inner-wrap {
     display: flex;
    
    
   
   margin-top: 80px;
}
.section-four .inner-wrap .inner-content {
   padding-top: 50px;
   width: 50%;
 
}
.section-four .inner-wrap .button{
    background-color: var(--color-two);
    color: white;
    border: var(--color-two);
    border: 2px solid var(--color-two);
    font-size: 20px;
    bottom: 20px;
}
.section-four .inner-wrap .button:hover{
      background-color: white;
    color: var(--color-one);
        
    }





.section-five{
    padding: 60px;
    background-color: #F0F2F5;
    margin-top: 65px;
    margin-bottom: 65px;
}
.section-five .container{
    background-image: url(../images/features2.jpg);
    padding: 22px;
    background-repeat: no-repeat;
    background-size: 100%;

}
.section-five .inner-wrap{
    display: flex;
    color: white;
    font-size: 18px;
    text-align: center;
    align-items: center;
}
.section-five i{
    margin-right: 15px;

   
}
.section-five .button{
    background-color: #13A05D;
    border: 2px solid #13A05D;
    padding: 10px 37px;
}
.section-five .button:hover{
    color: #13A05D;
    background-color: white;
}
 

.section-six img{
    width: 100%;
    
   

}



.section-six .inner-wrap {
    display: flex;
    
   
}
.section-six .inner-wrap .inner-img{
    display: flex;
    width: calc(100% / 5);
    overflow: hidden;
    object-fit: cover;
    
}
/* .section-six .inner-wrap img{
    display: flex;
    width: calc(100% / 5);
} */
.section-six .inner-icon {
    display: flex;
    color: var(--color-two);
    font-size: 13px;
   
    

}
.section-six .inner-icon i{
  margin: 2px;
   
    

}
.section-six .money{
    margin-bottom: 10px;
    color: var(--color-one);
    font-size: 25px;
    font-weight: bold;

}
.section-six h2{
    text-align: center;
    font-size: 35px;
    color: var(--color-one);

}


.section-six .inner-box{
    border: 1px solid #F0F2F5;
    padding: 16px;
}












.section-seven{
    padding: 85px;
    background-color: #F0F2F5;

}

.section-seven .inner-title{
    text-align: center;
    max-width: 430px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
   
}
.section-seven h2{
    margin: 0;
    margin-bottom: 30px;
}

.section-seven .inner-button{
  text-align: center;
  
  

}
.section-seven .inner-box{
    font-size: 45px;
}
input{
    padding: 6px;
    border-radius: 20px;
   

}
label{
    background-color: var(--color-two);
    border-radius: 8px;
    padding: 40;
    color: white;
    
    
}






